.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width:100%;
    top: 0;
    z-index: 100;
    border-bottom:1px solid #d2d1d1;
    background-color: white;
}

.header_logo {
    height: 25px;
    transform: scale(1.8);
    padding-left:20px;
    object-fit: contain;
    margin-left: 10px;
}

.header_center {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray
}

.header_searchbutton {
    width: 50px !important;
    border-color: #fafafa;
    height:30px !important;
    border-left: 1px solid lightgray;
    margin-bottom:-10px;
    color: gray;
    cursor: pointer;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_icon {
    margin-right: 22px;
    font-size:1.67em;
}
.sp{
    position:relative;
    top:-1px;
}

.header_center > input {
    flex: 1;
    padding:8px !important;
    padding-left:15px !important;

}